{% extends 'base.html' %}

{% block content %}
<div class="container">
  <nav class="level">
    <div class="level-item has-text-centered">  
      <div class="control">
        <label class="radio">
          <input type="radio" name="days" value="1">
          Today
        </label>
        <label class="radio">
          <input type="radio" name="days" value="7" checked>
          Last Week
        </label>
        <label class="radio">
          <input type="radio" name="days" value="30">
          Last Month
        </label>
      </div>
    </div>
  </nav>
</div>

<div class="table-container" id="events_id">
  <table class="table is-hoverable">
    <thead>
      <tr>
        <th>{{ header1 }}</th>
        <th>{{ header2 }}</th>
        <th>{{ header3 }}</th>
        <th>{{ header4 }}</th>
        <th>{{ header5 }}</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs.items %}
        {% if log.image not in false_positives %}
          <tr>
            <th>{{ log.date }}</th>
            <td>
              <a href="{{url_for(event, host=log.host)}}">{{ log.host }}</a>
            </td>
            <td>
              <a href="{{url_for('website.false_process', image=log.image, send_to=event)}}">{{ log.image }}</a>
            </td>    
            <td>{{ log.field4 }}</td>
            <td>{{ log.field5 }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a href="{{ url_for('website.process', page=logs.prev_num) }}" class="pagination-previous {% if logs.page == 1 %}is-disabled{% endif %}">Previous</a>
  <a href="{{ url_for('website.process', page=logs.next_num) }}" class="pagination-next {% if logs.page == logs.pages %}is-disabled{% endif %}">Next page</a>
  <ul class="pagination-list">
      <!-- Loop through the number of pages to display a link for each-->
      {% for page_num in logs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
      <!-- Check for the active page and set the link to "Active"-->
            {% if logs.page == page_num %}
            <li><a href="{{ url_for('website.process', page=page_num) }}" class="pagination-link is-current">
              {{ page_num }}
            </a></li>
            {% else %}
            <li><a href="{{ url_for('website.process', page=page_num) }}" class="pagination-link">
              {{ page_num }}
            </a></li>
            {% endif %}
          {% else %}
              ...
          {% endif %}
      {% endfor %}
  </ul>
</nav>
{% endblock %}